/* CREATE VARIABLES LATER */

/* Removing Default Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Styling */
body {
    font-family: Montseratt, Open Sans, sans-serif;
}
/* Header Elements, Attributes & Tags */
header {
    /* border-bottom: 5px solid black;  */
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
    text-align: center;
    display: flex;
}
header div a {
    text-decoration: none;
}
header div a:hover {
    color: red;
    opacity: .8;
}
.score {
    padding: 5px;
    border-bottom: 2px solid;
    background-color:;

}
.timer {
    padding: 5px;
    border-bottom: 2px solid;
    background-color:;
}
/* Main Elements, Attributes & Tags */
.intro{
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}
.intro h1 {
    font-size: 35px;
}
.startQuiz {
    font-size: 26px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
}
.hide {
    display: none;
}
  button {
    display: inline-block;
    margin: 5px;
    /* cursor: pointer; */
    font-size: 100%;
    border-radius: 5px;
    padding: 2px 10px;
    color: black;
    border: 0;
    transition: background-color 0.1s;
  }
  button:hover {
    background-color:;
  }
  